$primaryColor: #d45704;

// Font and Typo
$body-font: 'Prompt', sans-serif;

$font-size-title:         64px;
$font-size-sub-title:     48px;
$font-size-title-section: 38px;
$font-size-title-mobile:  28px;
$font-size-text-reader:   14px;